@model LoginModel
@{Layout = null;}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LoginStyleSheet.css" />
</head>
<body>
    <div>
        <div class="text-danger text-center" asp-validation-summary="All"></div>
        <div class="formbody">
            <h3>Sign In</h3>
            <form asp-action="SignIn" class="container" method="post">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                <div>
                    <label asp-for="Email">  </label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                </div>
                <button type="submit">Log In</button>
            </form>
            <div id="coOfUse">
                By continuing, you agree to Earlyman's
                <a href="#">Conditions of Use</a>.
            </div>
            <div>
                <p>New to Earlyman Inc.?</p>
                <a class="whitebutton" asp-controller="User"
                   asp-action="CreateAccount">Create Account</a>
            </div>
        </div>
    </div>
</body>
</html>