@{Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome | Earlyman Inc</title>
    <link href="~/css/WelcomeStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <p>
        Hello  @ViewBag.UserName!, Welcome to EarlyMan Inc <br />
        please <a asp-action="SignIn">Sign in</a> to continue.
    </p>
</body>
</html>