@model EarlyMan.Models.ViewModels.HomepageItems

<h3 id="FeCate">Featured Categories</h3>
<div class="card-columns">

    @foreach (var item in Model.printRepository.Prints)
    {
        <div class="card">

            <img class="card-img" src=@string.Concat("/assets/Products/"
                                      , item.Location + ".jpg") ; />

            <div class="card-body">
                <h5 class="card-title"></h5> @item.Description
            </div>
            <div>
                <a class="btn btn-info  blackbutton btn-sm"> Add to Cart</a>
            </div>
        </div>
    }
</div>